<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.gob.televisioneducativa.spd" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuNivel"
            android:label="@string/title_activity_menu_ingreso"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.televisioneducativa.spd.MainActivity" />
        </activity>
        <activity
            android:name=".Infografia"
            android:label="@string/title_activity_ingreso_basica" >
        </activity>
        <activity
            android:name=".MenuPromocionBasica"
            android:label="@string/title_activity_menu_promocion_basica" >
            android:parentActivityName=".MenuNivel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.televisioneducativa.spd.MenuNivel" />
        </activity>
        <activity
            android:name=".MenuPromocionMedia"
            android:label="@string/title_activity_menu_promocion_media"
            android:parentActivityName=".MenuNivel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.televisioneducativa.spd.MenuNivel" />
        </activity>
        <activity
            android:name=".Estrategias_estudio"
            android:label="@string/title_activity_estrategias_estudio" >
        </activity>
        <activity
            android:name=".MenuBar"
            android:label="@string/title_activity_menu_bar" >
        </activity>
        <activity
            android:name=".Faq"
            android:label="@string/title_activity_faq" >
        </activity>
        <activity
            android:name=".Contacto"
            android:label="@string/title_activity_contacto" >
        </activity>
        <activity
            android:name=".Perfiles_guias"
            android:label="@string/title_activity_perfiles_guias"
            android:parentActivityName=".Infografia" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.televisioneducativa.spd.Infografia" />
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:mimeType="application/pdf"></data>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".entities.Material"
            android:label="@string/title_activity_material" >
        </activity>
    </application>

</manifest>
